doctype html

html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title #{title}
    meta(name='description', content='Realtime crime map and data analysis.')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='apple-touch-icon', href='favicon.ico')
    link(rel='favicon', href='favicon.ico')
    link(rel='stylesheet' type='text/css' href="main.css")
    link(rel='stylesheet' type='text/css' href="deps/bootstrap/dist/css/bootstrap.css")
    link(href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js')

  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') Satark
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item.active
            a.nav-link(href='/analytics')
              | Analytics
              span.sr-only (current)

    block content

    footer.footer
      .container
        span.text-muted Place sticky footer content here.


